<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DevelopmentURL</key>
	<string>https://test.fha.nqn.mybluehostin.me/wp-json/pmpro/v1/</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>tiktok</string>
		<string>instagram</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsArbitraryLoadsUsageDescription</key>
		<dict/>
	</dict>
	<key>PodCastURL</key>
	<string>https://podcasts.apple.com/us/podcast/the-sisters-shows/id1526961625</string>
	<key>PrivacyPolicyURL</key>
	<string>https://test.fha.nqn.mybluehostin.me/privacy-policy/</string>
	<key>ProductionURL</key>
	<string>https://test.fha.nqn.mybluehostin.me/wp-json/pmpro/v1/</string>
	<key>TermsConditionURL</key>
	<string>https://test.fha.nqn.mybluehostin.me/term-condition/</string>
	<key>UIAppFonts</key>
	<array>
		<string>Poppins-Black.ttf</string>
		<string>Poppins-BlackItalic.ttf</string>
		<string>Poppins-Bold.ttf</string>
		<string>Poppins-BoldItalic.ttf</string>
		<string>Poppins-ExtraBold.ttf</string>
		<string>Poppins-ExtraBoldItalic.ttf</string>
		<string>Poppins-ExtraLight.tt</string>
		<string>Poppins-ExtraLightItalic.ttf</string>
		<string>Poppins-Italic.ttf</string>
		<string>Poppins-Light.ttf</string>
		<string>Poppins-LightItalic.ttf</string>
		<string>Poppins-Medium.ttf</string>
		<string>Poppins-MediumItalic.ttf</string>
		<string>Poppins-Regular.ttf</string>
		<string>Poppins-SemiBold.ttf</string>
		<string>Poppins-SemiBoldItalic.ttf</string>
		<string>Poppins-Thin.ttf</string>
		<string>Poppins-ThinItalic.ttf</string>
	</array>
	<key>aboutUSURL</key>
	<string>https://test.fha.nqn.mybluehostin.me/about/</string>
</dict>
</plist>
